################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################


*.sln
*.vcxproj
*.filters
*.user
*.db
*.suo
*.ipch
